<a href="https://colab.research.google.com/github/gpricechristie/hsstNoSQL/blob/main/mongoDB_Simple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Connect to NoSQL document database (MongoDB)
In this tutorial we connect to a MongoDB document NoSQL database hosted on the MongoDB Atlas cloud service and read the results from a simple query into a pandas dataframe

Install the PyMongo module that enables connections to MongoDB databases

In [56]:
!pip install pymongo
from pymongo.mongo_client import MongoClient
import pandas as pd
import json

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pymongo in /usr/local/lib/python3.10/dist-packages (4.3.3)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo) (2.3.0)

Specify the connection string for the database hosted on MongoDB Atlas. Note that the Atlas service requires that as well as user authentication (username / password) you spefify the IP addresses you connect from. It is possible to specify that you can connect from anywhere (IP 0.0.0.0/0) which we have done for this tutorial, but for real projects this should be locked down.

In [67]:
uri = "mongodb+srv://hsst_user:hsst_b2_manchester@hsstcluster.fvxeyjd.mongodb.net/?retryWrites=true&w=majority"

Connect to the database and echo to check we are connected

In [68]:
client = MongoClient(uri)

try:
    client.admin.command('ping')
    print("Connected to HSST MongoDB service")
except Exception as e:
    print(e)

Connected to HSST MongoDB service

##Connect to database and collection
Connect to a simulacrum database and collection that contains all the documents for each patient in the (subset) of the National Cancer  Outcomes and Services and Systemic Anti-Cancer Therapy datasets.

In [69]:
db = client['simulacrum']
collection = db['simulacrumV1']

##Simple query
Use the find() method to get the first few documents in the collection

In [70]:
cursor=collection.find({},limit=10)

Write the data to a python list

In [71]:
mongodb_data=list(cursor)

##Read into Pandas dataframe

In [72]:
data=pd.DataFrame(mongodb_data)

Display the data - note that:
<li> Where a document record doesn't contain a particular key-value this is just listed as NaN (not a number) as would be expected for a stanard SQL query
<li> In this data view the nested tumour data is still in json format

In [73]:
display(data)

,_id,patientid,sex,nhsnumber,ethnicity,deathcausecode_1a,deathcausecode_underlying,deathlocationcode,newvitalstatus,vitalstatusdate,tumours,deathcausecode_1b,deathcausecode_2
0,6461f6d41c2f3bc6a022f9ec,220001002,1,1020001002,A,C800,C169,1,D,2015-06-29,"[{'tumourid': 220001002, 'diagnosisdatebest': ...",NaN,NaN
1,6461f6d41c2f3bc6a022f9ed,220000383,2,1020000383,A,"C798,C800",C809,1,D,2015-04-30,"[{'tumourid': 220000383, 'diagnosisdatebest': ...","C798,C800",G309
2,6461f6d41c2f3bc6a022f9ee,220000384,2,1020000384,A,A419,C800,1,D,2015-04-30,"[{'tumourid': 220000384, 'diagnosisdatebest': ...",NaN,NaN
3,6461f6d41c2f3bc6a022f9ef,220000385,2,1020000385,A,"C787,C780",C439,6,D,2017-10-12,"[{'tumourid': 220000385, 'diagnosisdatebest': ...",NaN,NaN
4,6461f6d41c2f3bc6a022f9f0,220000386,2,1020000386,A,I679,C800,5,D,2015-05-18,"[{'tumourid': 220000386, 'diagnosisdatebest': ...",NaN,NaN
5,6461f6d41c2f3bc6a022f9f1,220000388,1,1020000388,A,C809,C800,4,D,2016-09-06,"[{'tumourid': 220000388, 'diagnosisdatebest': ...",C800,NaN
6,6461f6d41c2f3bc6a022f9f2,220000389,2,1020000389,A,"C80,C80",C259,2,D,2016-11-24,"[{'tumourid': 220000389, 'diagnosisdatebest': ...",NaN,"C798,C800"
7,6461f6d41c2f3bc6a022f9f3,220000390,1,1020000390,A,"C798,C800",C800,1,D,2013-05-10,"[{'tumourid': 220000390, 'diagnosisdatebest': ...",NaN,NaN
8,6461f6d41c2f3bc6a022f9f4,220000391,2,1020000391,C,"C798,C800",C800,1,D,2015-01-09,"[{'tumourid': 220000391, 'diagnosisdatebest': ...",C800,NaN
9,6461f6d41c2f3bc6a022f9f5,220000392,2,1020000392,A,"C798,C800",C800,X,D,2017-12-21,"[{'tumourid': 220000392, 'diagnosisdatebest': ...",NaN,NaN

If needed can normalise these data into a long format (i.e. unnested) dataframe and include only the variables you are interested in using the Pandasjson_normalise() function.

In [64]:
data_long=pd.json_normalize(mongodb_data,"tumours",["patientid","ethnicity"])

In [65]:
data_long=pd.json_normalize(mongodb_data,record_path=["tumours"],meta=["patientid","ethnicity"])

In [66]:
display(data_long)

,tumourid,diagnosisdatebest,site_icd10_o2,site_icd10_o2_3char,morph_icd10_o2,behaviour_icd10_o2,stage_best,grade,age,sex,...,nhsnumber,laterality,quintile_2025,cancercareplanintent,performancestatus,cns,m_best,stage_best_system,patientid,ethnicity
0,220001002,2015-05-26,C80,C80,8000,6,U,GX,86,1,...,1020001002,9,2,NaN,NaN,NaN,NaN,NaN,220001002,A
1,220000383,2015-02-16,C80,C80,8000,6,U,GX,76,2,...,1020000383,9,4,NaN,NaN,NaN,NaN,NaN,220000383,A
2,220000384,2015-04-08,C80,C80,8000,6,U,GX,88,2,...,1020000384,9,5 - most deprived,NaN,NaN,NaN,NaN,NaN,220000384,A
3,220000385,2017-09-01,C80,C80,8010,6,U,GX,91,2,...,1020000385,9,1 - least deprived,Z,2,NaN,NaN,NaN,220000385,A
4,220000386,2015-04-09,C80,C80,8010,6,U,GX,90,2,...,1020000386,9,1 - least deprived,NaN,9,NN,NaN,NaN,220000386,A
5,220000388,2016-05-06,C80,C80,8010,6,U,GX,55,1,...,1020000388,9,5 - most deprived,NaN,NaN,NaN,1,22.0,220000388,A
6,220000389,2016-06-29,C80,C80,8000,6,U,GX,84,2,...,1020000389,9,5 - most deprived,9,1,Y1m,NaN,NaN,220000389,A
7,220000390,2013-05-04,C80,C80,8000,6,U,GX,78,1,...,1020000390,9,5 - most deprived,NaN,NaN,NaN,NaN,NaN,220000390,A
8,220000391,2014-08-13,C80,C80,8010,6,U,GX,87,2,...,1020000391,9,3,NaN,NaN,NaN,NaN,NaN,220000391,C
9,220000392,2017-10-12,C80,C80,8000,6,U,GX,77,2,...,1020000392,9,3,NaN,NaN,NaN,NaN,NaN,220000392,A