<a href="https://colab.research.google.com/github/gpricechristie/hsstNoSQL/blob/main/mongoDB_Simple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Connect to NoSQL document database (MongoDB)
In this tutorial we connect to a MongoDB document NoSQL database hosted on the MongoDB Atlas cloud service and read the results from a simple query into a pandas dataframe

Install the PyMongo module that enables connections to MongoDB databases

In [ ]:
!pip install pymongo
from pymongo.mongo_client import MongoClient
import pandas as pd
import json

Specify the connection string for the database hosted on MongoDB Atlas. Note that the Atlas service requires that as well as user authentication (username / password) you spefify the IP addresses you connect from. It is possible to specify that you can connect from anywhere (IP 0.0.0.0/0) which we have done for this tutorial, but for real projects this should be locked down.

In [ ]:
uri = "mongodb+srv://hsst_user:hsst_b2_manchester@hsstcluster.fvxeyjd.mongodb.net/?retryWrites=true&w=majority"

Connect to the database and echo to check we are connected

In [ ]:
client = MongoClient(uri)

try:
    client.admin.command('ping')
    print("Connected to HSST MongoDB service")
except Exception as e:
    print(e)

##Connect to database and collection
Connect to a simulacrum database and collection that contains all the documents for each patient in the (subset) of the National Cancer  Outcomes and Services and Systemic Anti-Cancer Therapy datasets.

In [ ]:
db = client['simulacrum']
collection = db['simulacrumV1']

##Simple query
Use the find() method to get the first few documents in the collection

In [ ]:
cursor=collection.find({},limit=10)

Write the data to a python list

In [ ]:
mongodb_data=list(cursor)

Display the returned json object data (limit to first patient returned)

In [ ]:
mongodb_data[0]

##Read into Pandas dataframe

In [ ]:
data=pd.DataFrame(mongodb_data)

Display the data - note that:
<li> Where a document record doesn't contain a particular key-value this is just listed as NaN (not a number) as would be expected for a stanard SQL query
<li> In this data view the nested tumour data is still in json format

In [90]:
display(data)

,_id,patientid,sex,nhsnumber,ethnicity,deathcausecode_1a,deathcausecode_underlying,deathlocationcode,newvitalstatus,vitalstatusdate,tumours,deathcausecode_1b,deathcausecode_2
0,6461f6d41c2f3bc6a022f9ec,220001002,1,1020001002,A,C800,C169,1,D,2015-06-29,"[{'tumourid': 220001002, 'diagnosisdatebest': ...",NaN,NaN
1,6461f6d41c2f3bc6a022f9ed,220000383,2,1020000383,A,"C798,C800",C809,1,D,2015-04-30,"[{'tumourid': 220000383, 'diagnosisdatebest': ...","C798,C800",G309
2,6461f6d41c2f3bc6a022f9ee,220000384,2,1020000384,A,A419,C800,1,D,2015-04-30,"[{'tumourid': 220000384, 'diagnosisdatebest': ...",NaN,NaN
3,6461f6d41c2f3bc6a022f9ef,220000385,2,1020000385,A,"C787,C780",C439,6,D,2017-10-12,"[{'tumourid': 220000385, 'diagnosisdatebest': ...",NaN,NaN
4,6461f6d41c2f3bc6a022f9f0,220000386,2,1020000386,A,I679,C800,5,D,2015-05-18,"[{'tumourid': 220000386, 'diagnosisdatebest': ...",NaN,NaN
5,6461f6d41c2f3bc6a022f9f1,220000388,1,1020000388,A,C809,C800,4,D,2016-09-06,"[{'tumourid': 220000388, 'diagnosisdatebest': ...",C800,NaN
6,6461f6d41c2f3bc6a022f9f2,220000389,2,1020000389,A,"C80,C80",C259,2,D,2016-11-24,"[{'tumourid': 220000389, 'diagnosisdatebest': ...",NaN,"C798,C800"
7,6461f6d41c2f3bc6a022f9f3,220000390,1,1020000390,A,"C798,C800",C800,1,D,2013-05-10,"[{'tumourid': 220000390, 'diagnosisdatebest': ...",NaN,NaN
8,6461f6d41c2f3bc6a022f9f4,220000391,2,1020000391,C,"C798,C800",C800,1,D,2015-01-09,"[{'tumourid': 220000391, 'diagnosisdatebest': ...",C800,NaN
9,6461f6d41c2f3bc6a022f9f5,220000392,2,1020000392,A,"C798,C800",C800,X,D,2017-12-21,"[{'tumourid': 220000392, 'diagnosisdatebest': ...",NaN,NaN

If needed can normalise these data into a long format (i.e. unnested) dataframe and include only the variables you are interested in using the Pandas json_normalise() function. Two different approaches for this are shown below.

In [ ]:
data_long=pd.json_normalize(mongodb_data,"tumours",["patientid","ethnicity"])

In [ ]:
data_long=pd.json_normalize(mongodb_data,record_path=["tumours"],meta=["patientid","ethnicity"])

In [ ]:
display(data_long)